<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/assets/css/calendar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap" rel="stylesheet">
    <title>Calendar</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <a href="/">
                Home
            </a>
            <a href="/lalv22/calendar">
                Calendar
            </a>
            <a href="/lalv22/map">
                Map
            </a>
            <a href="/error">
                Click Me
            </a>
        </ul>
        
    </nav>  
    <div class="main">
        <div class="title">
            <h1>August 2022</h1>
            <div id="add_event">
                <a id="add_event_link" href="/lalv22/add_event">
                    Add Event
                </a>
            </div>
        </div>
        <div id="calendar">
            <div id="calendar-header">
                <% for (let i = 0; i < days.length; i++) { %>
                    <h3 class="name"><%=days[i] %></h3>
                <% } %>
            </div>
            <div id="calendar-days">
                <div class="empty"></div>
                <% for (let i = 1; i <= 31; i++) { %>
                    <a class="event_on_day" href="/lalv22/aug<%=i %>">
                    <div class="day" id="<%=i %>">
                        <div class="daynumber"><%=i %></div>
                        <% for (let e in all_events) { %>
                            <% if (all_events[e]["day"] == i) { %>
                                <div class="eventname" id="<%=i %>">
                                    <li>
                                        <ul id="e_name">
                                            <p><%=all_events[e]["name"] %> </p>
                                        </ul>
                                        <% if (all_events[e]["time"] != "") {%>
                                            <ul>
                                                (<%=all_events[e]["time"]%>)
                                            </ul>
                                            
                                        <% } %>
                                    </li>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                    </a>
                <% } %>
                <div class="empty"></div>
                <div class="empty"></div>
                <div class="empty"></div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>