<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/day_details.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap" rel="stylesheet">
    <title>August <%=day %></title>
</head>
<body>
    <%- include ("partials/nav.ejs") %>
    <main class="main">
        <h1 id="day_title">August <%=day %></h1>
        <div id="title_buttons">
            <a id="back" href="/lalv22/calendar">
                <div id="back_div">
                    &#8592; Back
                </div>
            </a>
            <button id="add_event">
                Add Event
            </button>
        </div>
        
        <% for (let i in events) { %>
            <div class="event">
                <h2 id="name"><%=events[i]["name"] %></h2>
                <h3 id="time"><%=events[i]["time"] %></h3>
                <h3 id="location"><%=events[i]["location"] %></h3>
                <div class="going_list">
                    <div class="going_list1">
                        <% for (let j = 0; j < 4; j++) { %>
                            <p id="<%=events[i]['going'][j] %>"><%=events[i]["going"][j] %></p>
                        <% } %>
                    </div>
                    <div class="going_list2">
                        <% for (let j = 4; j < 8; j++) { %>
                            <p id="<%=events[i]['going'][j] %>"><%=events[i]["going"][j] %></p>
                        <% } %>
                    </div>
                </div>
                <div class="notes">
                    <h3>Notes:</h3>
                    <p id="notes"><%=events[i]["notes"] %></p>
                </div>
                
            </div>
            <div class="buttons">
                <!-- <a id="edit" href="/lalv22/aug<%=day %>/<%=events[i]['_id'] %>">
                    Edit
                </a> -->
                <button id="edit">
                    Edit
                </button>
                <form id="delete" method="post" action="/lalv22/<%=events[i]['_id'] %>/delete">
                    <button type="submit" onclick="return confirm('Are you sure you want to delete?')">
                        Delete
                    </button>
                    
                </form>
                
            </div>
            <div id="form_modal" class="modal">
                <div class="modal_content">
                    
                    <span class="close">&times;</span>
                    
                    <form action="/lalv22/<%=events[i]['_id'] %>/updated_event" method="POST" id="input">
                        <div id="name_input">
                            <label for="name">Event Name:</label>
                            <input id="name" name="name" value="<%=events[i]['name'] %>" required>
                        </div>
                        <div id="day_input">
                            <label for="day">Day:</label>
                            <input id="day" name="day" value="<%=day %>">
                        </div>
                        <div id="time_input">
                            <label for="time">Time:</label>
                            <input id="time" name="time" value="<%=events[i]['time'] %>">
                        </div>
                        <div id="location_input">
                            <label for="location">Location:</label>
                            <input id="location" name="location" value="<%=events[i]['location'] %>">
                        </div>
                        <div id="going_input">
                            <label id="going_label">Going:</label>
                            
                            <!-- <label for="all">All</label>
                            <input type="checkbox" id="all" name="going" value="All"> -->
                            <div id="names_1">
                                <label for="all">All</label>
                                <input type="checkbox" id="all" name="going" value="All">
        
                                <label for="chris">Chris</label>
                                <input type="checkbox" id="chris" name="going" value="Chris">
        
                                <label for="james">James</label>
                                <input type="checkbox" id="james" name="going" value="James">
        
                                <label for="josh">Josh</label>
                                <input type="checkbox" id="josh" name="going" value="Josh">
                            </div>
                            <div id="names_2">
                                <label for="lesly">Lesly</label>
                                <input type="checkbox" id="lesly" name="going" value="Lesly">
        
                                <label for="monica">Monica</label>
                                <input type="checkbox" id="monica" name="going" value="Monica">
        
                                <label for="renato">Renato</label>
                                <input type="checkbox" id="renato" name="going" value="Renato">
        
                                <label for="sylvia">Sylvia</label>
                                <input type="checkbox" id="sylvia" name="going" value="Sylvia">
                            </div>
                        </div>
                        <div id="notes_input">
                            <label for="notes">Notes:</label>
                            <textarea id="notes" name="notes" rows="3" cols="20"><%=events[i]['notes'] %></textarea>
                        </div>
                        <div id="submit">
                            <button type="submit">Update</button>
                        </div>
                        
                    </form>
                </div>
                
            </div>
        <% } %>
        
        <!-- Add Event Modal -->
        <div id="add_modal" class="modal">
            <div class="modal_content">
                
                <span class="close">&times;</span>
                
                <form action="/lalv22/event_details" method="POST" id="input">
                    <div id="name_input">
                        <label for="name">Event Name:</label>
                        <input id="name" name="name" required>
                    </div>
                    <div id="day_input">
                        <label for="day">Day:</label>
                        <input id="day" name="day" value="<%=day %>">
                    </div>
                    <div id="time_input">
                        <label for="time">Time:</label>
                        <input id="time" name="time">
                    </div>
                    <div id="location_input">
                        <label for="location">Location:</label>
                        <input id="location" name="location">
                    </div>
                    <div id="going_input">
                        <label id="going_label">Going:</label>
                        
                        <!-- <label for="all">All</label>
                        <input type="checkbox" id="all" name="going" value="All"> -->
                        <div id="names_1">
                            <label for="all">All</label>
                            <input type="checkbox" id="all" name="going" value="All">
    
                            <label for="chris">Chris</label>
                            <input type="checkbox" id="chris" name="going" value="Chris">
    
                            <label for="james">James</label>
                            <input type="checkbox" id="james" name="going" value="James">
    
                            <label for="josh">Josh</label>
                            <input type="checkbox" id="josh" name="going" value="Josh">
                        </div>
                        <div id="names_2">
                            <label for="lesly">Lesly</label>
                            <input type="checkbox" id="lesly" name="going" value="Lesly">
    
                            <label for="monica">Monica</label>
                            <input type="checkbox" id="monica" name="going" value="Monica">
    
                            <label for="renato">Renato</label>
                            <input type="checkbox" id="renato" name="going" value="Renato">
    
                            <label for="sylvia">Sylvia</label>
                            <input type="checkbox" id="sylvia" name="going" value="Sylvia">
                        </div>
                    </div>
                    <div id="notes_input">
                        <label for="notes">Notes:</label>
                        <textarea id="notes" name="notes" rows="3" cols="20"></textarea>
                    </div>
                    <div id="submit">
                        <button type="submit">Save New</button>
                    </div>
                    
                </form>
            </div>
            
        </div>
    </main>

    <script type="text/javascript" src="/assets/scripts/modal.js"></script>
</body>
</html>